.container{

    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto auto;
    gap: 20PX;
   
}
.container div{

    /* padding: 50px; */
    background-color: rgb(25, 65, 95);
}
.one {

    grid-column:1/5 ;
    grid-row:1/2 ;
    height: 80px;
}
.two{

    grid-column:1/3;
    grid-row:2/4 ;
    height: 300px;
}
.three{


    grid-column: 3/5;
    grid-row: 2/3;
    
}
.four{

 
      grid-column:3/5 ;
    grid-row:3/4 ;
}
.five{


    grid-column: 1/5;
    grid-row: 5/6;
    height: 60px;
}
.six{

  
    grid-column:1/5 ;
    grid-row:4/5;
    height: 200px;
}
